.messaging {
  color:white;
}

.game {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex; */
  /* align-items: flex-start + 2vh; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.words {
  display: inline-block;
  padding-bottom: 30px;
}

.word {
  display: flex;
}

.square {
  background: gray;
  border: 1px solid #999;
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(233, 231, 231);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  line-height: 6vh;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0;
  text-align: center;
  height: 3.5rem;
  width: 3.5rem;
}

.messaging {
  display: block;
}

.reload {
}

.finished-buttons {
  display: flex;
  justify-content: center;
  font-size: 6vh;
  color:white;
}

.finished-buttons div {
  margin: 2vh;
  align-content: center;
}

.invalid {
  background-color: rgb(155, 14, 14);
  color:white;
}

.correct {
  background: rgb(63, 143, 63) !important
}

.almost {
  background: rgb(215, 215, 112) !important
}

.nope {
  background: rgb(46, 39, 39) !important;
  color: rgb(233, 231, 231);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
