.hg-row {
  justify-content: center;
}

.simple-keyboard {
  /* justify-content: center; */
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 1rem;
  max-width: 500px;
  color: black;
}