.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 1;
  max-width: 500px;
  color:white;
}

.modal-content {
  background-color: #282c34;
  margin: 15% auto;
  padding: 10px;
  border: 1px solid #888;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.modal-title {
  display: flex;
  justify-content: space-between;
}

.modal-close {
  display: flex;
  justify-content: space-between;
}

.modal-input {
  margin: 5px;
}

.modal-submit {
  margin: 5px;
}

.output {
  display: flex;
  justify-content: center;
}

.copy {
  margin-right: 5px;
}