.App {
  text-align: center;
  background-color: #282c34;
  max-width: 500px;
  min-height: 100vh;
}

#root {
  background-color: #282c34;
}

.App-header {
  font-size: 5vh;
  color: white;
  background-color: #282c34;
  display: flex;
  justify-content: space-between;
  padding: 3vh;
}

.left {
  visibility: hidden;
  font-weight: bold;
  color: green;
  padding-left: 3vh;
  /* justify-content: space-between; */
}

.title {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 3vh; */
  /* padding-bottom: 7vh; */
  /* justify-content: space-between; */
}

.create {
  display: flex;
  font-weight: bold;
  align-items: center;
  padding-right: 3vh;
  /* justify-content: space-between; */
}