.App {
  text-align: center;
  background-color: #282c34;
  max-width: 500px;
  min-height: 100vh;
}

#root {
  background-color: #282c34;
}

.App-header {
  font-size: 5vh;
  color: white;
  background-color: #282c34;
  display: flex;
  justify-content: space-between;
  padding: 3vh;
}

.stats {
  padding-left: 2vh;
}

.title {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create {
  padding-right: 2vh;
}