body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.game {
  display: inline-block;
}

.words {
  display: inline-block;
}

.word {
  display: flex;
}

.square {
  background: gray;
  border: 1px solid #999;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  color: black;
  line-height: 34px;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0;
  text-align: center;
  height: 34px;
  width: 34px;
}

.correct {
  background: green
}

.almost {
  background: yellow
}

/* .square:focus {
  outline: none;
} */

.kbd-navigation .square:focus {
  background: #ddd;
}

.hg-theme-default .hg-button {
  flex-grow: initial !important;
  /* display:inline-block !important; */
}

.hg-row {
  justify-content: center;
}